<%= form_with(model: sucursale) do |form| %>
  <% if sucursale.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sucursale.errors.count, "error") %> prohibited this sucursale from being saved:</h2>

      <ul>
        <% sucursale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :direccion, style: "display: block" %>
    <%= form.text_field :direccion %>
  </div>

  <div>
    <%= form.label :telefono, style: "display: block" %>
    <%= form.number_field :telefono %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
