<p style="color: green"><%= notice %></p>

<%= render @sucursale %>

<div>
  <%= link_to "Edit this sucursale", edit_sucursale_path(@sucursale) %> |
  <%= link_to "Back to sucursales", sucursales_path %>

  <%= button_to "Destroy this sucursale", @sucursale, method: :delete %>
</div>
