<%= form_with(model: turno) do |form| %>
  <% if turno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turno.errors.count, "error") %> prohibited this turno from being saved:</h2>

      <ul>
        <% turno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :motivo, style: "display: block" %>
    <%= form.text_area :motivo %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.text_field :estado %>
  </div>

  <div>
    <%= form.label :comentario, style: "display: block" %>
    <%= form.text_area :comentario %>
  </div>

  <div>
    <%= form.label :fecha_hora, style: "display: block" %>
    <%= form.datetime_field :fecha_hora %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
