<div id="<%= dom_id turno %>">
  <p>
    <strong>Motivo:</strong>
    <%= turno.motivo %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= turno.estado %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= turno.comentario %>
  </p>

  <p>
    <strong>Fecha hora:</strong>
    <%= turno.fecha_hora %>
  </p>

</div>
